<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Royal Island Resort | Premium Hotel & Boating in Munroe Island</title>

  <!-- Meta Description for SEO -->
  <meta name="description"
    content="Book your stay at The Royal Island Resort in Munroe Island. Enjoy premium rooms, boating experiences, and explore the beauty of this serene location. Book now for an unforgettable experience!">

  <!-- Keywords for SEO -->
  <meta name="keywords"
    content="Munroe Island, premium hotels, boating in Munroe Island, rooms in Munroe Island, resorts in Munroe Island, premium resorts, best hotels in Munroe Island, serene getaway, Royal Island Resort, stay in Munroe Island">
  <!--  
    Favicons
    =============================================
    -->


  <style>
    /* Add this to your CSS file */
    /* Ensure equal spacing between columns */
    .module-small .row {
      display: flex;
      flex-wrap: wrap;
    }

    .module-small .col-sm-3 {
      padding: 15px;
      /* Adjust padding to control space around each column */
    }

    /* Style for equal spacing within the icon list */
    .icon-list {
      list-style-type: none;
      padding: 0;
    }

    .icon-list li {
      display: inline-block;
      margin-right: 15px;
      /* Space between each icon */
    }

    .icon-list li:last-child {
      margin-right: 0;
      /* Remove right margin from the last item */
    }

    /* Style for widget posts */
    .widget-posts {
      padding: 0;
      margin: 0;
    }

    .widget-posts li {
      margin-bottom: 15px;
      /* Space between each post */
    }

    .widget-posts-image img {
      width: 100%;
      height: auto;
    }

    /* Style for social icons */
    .social-icon i {
      font-size: 24px;
      /* Adjust size as needed */
      color: #ffffff;
      transition: color 0.3s ease;
    }

    .social-icon i:hover {
      color: #007bff;
      /* Color change on hover */
    }
  </style>

  </style>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--  
    Stylesheets
    =============================================
    
    -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Favicon links -->
  <link rel="icon" href="assets/images/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" href="assets/images/favicons/favicon.ico">
 

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
              class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
              class="icon-bar"></span></button><a class="navbar-brand" href="/">The Royal Island</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="/">Home</a></li>
            <li class="dropdown"><a href="/about">About</a></li>
            <li class="dropdown"><a href="/gallery">Gallery</a></li>
            <li class="dropdown"><a href="/activities">Activities</a></li>
            <li class="dropdown"><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>