<%- include('../partials/header.ejs') %>

      
        <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Gallery</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="module">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_48.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/48.jpg" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_3.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/3.jpg" alt="Gallery Image 2"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_12.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/12.jpg" alt="Gallery Image 3"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_13.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/13.jpg" alt="Gallery Image 4"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_19.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/19.jpg" alt="Gallery Image 5"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_25.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/25.jpg" alt="Gallery Image 6"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_46.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/45.jpg" alt="Gallery Image 7"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_1.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/1.jpg" alt="Gallery Image 8"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_33.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/33.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island1.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island1.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island2.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island2.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island3.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island3.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island5.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island5.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island11.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island11.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island7.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island7.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/the_royal_island6.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/the_royal_island6.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <!-- <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_33.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/33.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="assets/images/gallery/big/big_33.jpg" title="The Royal Island"><img src="assets/images/gallery/thumbnail/full_3/33.jpg" alt="Gallery Image 9"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div> -->

            </div>
          </div>
        </section>
        
<%- include('../partials/footer.ejs') %>